In [1]:
import pandas as pd

In [2]:
melb_data = pd.read_csv('data/melb_data_ps.csv', sep=',',  index_col=0, header=0)

In [3]:
melb_df = melb_data.copy()

In [4]:
melb_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13580 entries, 0 to 13579
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  int64
 10  Bedroom        13580 non-null  int64
 11  Bathroom       13580 non-null  int64
 12  Car            13580 non-null  int64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   13580 non-null  float64
 15  YearBuilt      13580 non-null  int64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  int64
 21  Coordinates    13580 non-null  object
dtypes: float64(6), int64(7), object(9)
memory usage: 2.4+ MB

In [5]:
melb_df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
index,,,,,,,,,,,,,,,,,,,,,
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067,...,1,202.0,126.0,1970,Yarra,-37.79960,144.99840,Northern Metropolitan,4019,"-37.7996, 144.9984"
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067,...,0,156.0,79.0,1900,Yarra,-37.80790,144.99340,Northern Metropolitan,4019,"-37.8079, 144.9934"
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067,...,0,134.0,150.0,1900,Yarra,-37.80930,144.99440,Northern Metropolitan,4019,"-37.8093, 144.9944"
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067,...,1,94.0,126.0,1970,Yarra,-37.79690,144.99690,Northern Metropolitan,4019,"-37.7969, 144.9969"
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067,...,2,120.0,142.0,2014,Yarra,-37.80720,144.99410,Northern Metropolitan,4019,"-37.8072, 144.9941"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150,...,2,652.0,126.0,1981,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392,"-37.90562, 145.16761"
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016,...,2,333.0,133.0,1995,NaN,-37.85927,144.87904,Western Metropolitan,6380,"-37.85927, 144.87904"
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016,...,4,436.0,126.0,1997,NaN,-37.85274,144.88738,Western Metropolitan,6380,"-37.85274, 144.88738"
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016,...,5,866.0,157.0,1920,NaN,-37.85908,144.89299,Western Metropolitan,6380,"-37.85908, 144.89299"
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013,...,1,362.0,112.0,1920,NaN,-37.81188,144.88449,Western Metropolitan,6543,"-37.81188, 144.88449"

In [6]:
melb_df['Date'] = pd.to_datetime(melb_df['Date'], dayfirst=True)

In [7]:
# Давайте создадим признак возраста объекта недвижимости в годах на момент продажи. 
# Для этого выделим из столбца с датой продажи год и вычтем из него год постройки здания. 
# Результат оформим в виде столбца AgeBuilding:
melb_df['AgeBuilding'] = melb_df['Date'].dt.year - melb_df['YearBuilt']
melb_df['AgeBuilding']

index
0         46
1        116
2        117
3         47
4          2
        ...
13575     36
13576     22
13577     20
13578     97
13579     97
Name: AgeBuilding, Length: 13580, dtype: int64

In [8]:
melb_df.drop('YearBuilt', axis=1, inplace=True)

In [9]:
# Создайте в таблице melb_df признак WeekdaySale (день недели). 
# Найдите, сколько объектов недвижимости было продано в выходные (суббота и воскресенье), 
# результат занесите в переменную weekend_count.
melb_df['WeekdaySale'] = melb_df['Date'].dt.dayofweek
weekend_mask = (melb_df['WeekdaySale'] == 5) | (melb_df['WeekdaySale'] == 6)
weekend_count = melb_df[weekend_mask].shape[0]

In [10]:
melb_df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Landsize,BuildingArea,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates,AgeBuilding,WeekdaySale
index,,,,,,,,,,,,,,,,,,,,,
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,2016-12-03,2.5,3067,...,202.0,126.0,Yarra,-37.79960,144.99840,Northern Metropolitan,4019,"-37.7996, 144.9984",46,5
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,2016-02-04,2.5,3067,...,156.0,79.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019,"-37.8079, 144.9934",116,3
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,2017-03-04,2.5,3067,...,134.0,150.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019,"-37.8093, 144.9944",117,5
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,2017-03-04,2.5,3067,...,94.0,126.0,Yarra,-37.79690,144.99690,Northern Metropolitan,4019,"-37.7969, 144.9969",47,5
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,2016-06-04,2.5,3067,...,120.0,142.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019,"-37.8072, 144.9941",2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,2017-08-26,16.7,3150,...,652.0,126.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392,"-37.90562, 145.16761",36,5
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,2017-08-26,6.8,3016,...,333.0,133.0,NaN,-37.85927,144.87904,Western Metropolitan,6380,"-37.85927, 144.87904",22,5
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,2017-08-26,6.8,3016,...,436.0,126.0,NaN,-37.85274,144.88738,Western Metropolitan,6380,"-37.85274, 144.88738",20,5
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,2017-08-26,6.8,3016,...,866.0,157.0,NaN,-37.85908,144.89299,Western Metropolitan,6380,"-37.85908, 144.89299",97,5
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,2017-08-26,6.3,3013,...,362.0,112.0,NaN,-37.81188,144.88449,Western Metropolitan,6543,"-37.81188, 144.88449",97,5

In [11]:
# Напишите функцию get_weekend(weekday), которая принимает на вход элемент столбца WeekdaySale и возвращает 1, 
# если день является выходным, и 0 — в противном случае, и создайте столбец Weekend в таблице melb_df с помощью неё.

# Примените эту функцию к столбцу и вычислите среднюю цену объекта недвижимости, проданного в выходные дни. Результат округлите до целых.

In [12]:
def get_weekend(weekday: int):
    if weekday == 5 or weekday == 6:
        return 1
    
    return 0

In [13]:
melb_df['Weekend'] = melb_df['WeekdaySale'].apply(get_weekend)

In [16]:
# Средняя цена объекта проданного в выходные
int(round(melb_df[melb_df['Weekend'] == 1]['Price'].mean(), 0))

1081199

In [19]:
# Средняя цена объекта проданного в рабочие дни
int(round(melb_df[melb_df['Weekend'] == 0]['Price'].mean(), 0))

982402

In [20]:
# Преобразуйте столбец SellerG с наименованиями риелторских компаний в таблице melb_df следующим образом: 
# оставьте в столбце только 49 самых популярных компаний, а остальные обозначьте как 'other'.

In [21]:
melb_df['SellerG'].value_counts()

Nelson           1565
Jellis           1316
hockingstuart    1167
Barry            1011
Ray               701
                 ...
Prowse              1
Luxe                1
Zahn                1
Homes               1
Point               1
Name: SellerG, Length: 268, dtype: int64

In [22]:
melb_df['SellerG'].nunique()

268

In [25]:
most_common_agency = melb_df['SellerG'].value_counts().nlargest(49).index

In [29]:
melb_df['SellerG'] = melb_df['SellerG'].apply(lambda x: x if x in most_common_agency else 'other')

In [34]:
melb_df['SellerG'].value_counts(normalize=True)

Nelson           0.115243
Jellis           0.096907
other            0.088292
hockingstuart    0.085935
Barry            0.074448
Ray              0.051620
Marshall         0.048527
Buxton           0.046539
Biggin           0.028940
Brad             0.025184
Woodards         0.022165
Fletchers        0.022165
Jas              0.017894
Greg             0.017599
McGrath          0.016348
Sweeney          0.015906
Noel             0.015096
Miles            0.014433
RT               0.013549
Gary             0.012518
Harcourts        0.012371
Hodges           0.011561
YPA              0.011340
Stockdale        0.011046
Village          0.009205
Kay              0.008763
Raine            0.008542
Williams         0.008174
Love             0.008027
Douglas          0.007143
Chisholm         0.005670
RW               0.005155
Rendina          0.004860
HAR              0.004566
O'Brien          0.004492
C21              0.004197
Collins          0.004124
Cayzer           0.003829
Eview            0.003756
Purplebricks     0.003756
Philip           0.003535
Buckingham       0.003387
Bells            0.003240
Thomson          0.003093
Nick             0.002946
Alexkarbon       0.002946
McDonald         0.002872
Burnham          0.002872
Moonee           0.002651
LITTLE           0.002577
Name: SellerG, dtype: float64

In [36]:
# Найдите, во сколько раз минимальная цена объектов недвижимости, проданных компанией 'Nelson',
# больше минимальной цены объектов, проданных компаниями, обозначенными как 'other'. Ответ округлите до десятых.
nelson_min_price = melb_df[melb_df['SellerG'] == 'Nelson']['Price'].min()
nelson_min_price

170000.0

In [38]:
other_min_price = melb_df[melb_df['SellerG'] == 'other']['Price'].min()
other_min_price

131000.0

In [39]:
round(nelson_min_price / other_min_price, 1)

1.3