In [12]:
import pandas as pd

In [13]:
melb_data = pd.read_csv('data/melb_data_ps.csv', sep=',',  index_col=0, header=0)

In [14]:
melb_df = melb_data.copy()

In [15]:
melb_df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
index,,,,,,,,,,,,,,,,,,,,,
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067,...,1,202.0,126.0,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019,"-37.7996, 144.9984"
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067,...,0,156.0,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019,"-37.8079, 144.9934"
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067,...,0,134.0,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019,"-37.8093, 144.9944"
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067,...,1,94.0,126.0,1970,Yarra,-37.7969,144.9969,Northern Metropolitan,4019,"-37.7969, 144.9969"
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067,...,2,120.0,142.0,2014,Yarra,-37.8072,144.9941,Northern Metropolitan,4019,"-37.8072, 144.9941"

In [16]:
melb_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13580 entries, 0 to 13579
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  int64
 10  Bedroom        13580 non-null  int64
 11  Bathroom       13580 non-null  int64
 12  Car            13580 non-null  int64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   13580 non-null  float64
 15  YearBuilt      13580 non-null  int64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  int64
 21  Coordinates    13580 non-null  object
dtypes: float64(6), int64(7), object(9)
memory usage: 2.4+ MB

In [17]:
melb_df['Date'] = pd.to_datetime(melb_df['Date'], dayfirst=True)

In [18]:
# Давайте создадим признак возраста объекта недвижимости в годах на момент продажи. 
# Для этого выделим из столбца с датой продажи год и вычтем из него год постройки здания. 
# Результат оформим в виде столбца AgeBuilding:
melb_df['AgeBuilding'] = melb_df['Date'].dt.year - melb_df['YearBuilt']
melb_df['AgeBuilding']

index
0         46
1        116
2        117
3         47
4          2
        ...
13575     36
13576     22
13577     20
13578     97
13579     97
Name: AgeBuilding, Length: 13580, dtype: int64

In [19]:
# Теперь год постройки не актуален, он не несет никакой информации. Удаляем.
melb_df.drop('YearBuilt', axis=1, inplace=True)

In [21]:
# Создайте в таблице melb_df признак WeekdaySale (день недели). 
# Найдите, сколько объектов недвижимости было продано в выходные (суббота и воскресенье), 
# результат занесите в переменную weekend_count.
melb_df['WeekdaySale'] = melb_df['Date'].dt.dayofweek
weekend_mask = (melb_df['WeekdaySale'] == 5) | (melb_df['WeekdaySale'] == 6)
weekend_count = melb_df[weekend_mask].shape[0]
weekend_count

12822

In [22]:
melb_df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Landsize,BuildingArea,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates,AgeBuilding,WeekdaySale
index,,,,,,,,,,,,,,,,,,,,,
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,2016-12-03,2.5,3067,...,202.0,126.0,Yarra,-37.79960,144.99840,Northern Metropolitan,4019,"-37.7996, 144.9984",46,5
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,2016-02-04,2.5,3067,...,156.0,79.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019,"-37.8079, 144.9934",116,3
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,2017-03-04,2.5,3067,...,134.0,150.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019,"-37.8093, 144.9944",117,5
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,2017-03-04,2.5,3067,...,94.0,126.0,Yarra,-37.79690,144.99690,Northern Metropolitan,4019,"-37.7969, 144.9969",47,5
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,2016-06-04,2.5,3067,...,120.0,142.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019,"-37.8072, 144.9941",2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,2017-08-26,16.7,3150,...,652.0,126.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392,"-37.90562, 145.16761",36,5
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,2017-08-26,6.8,3016,...,333.0,133.0,NaN,-37.85927,144.87904,Western Metropolitan,6380,"-37.85927, 144.87904",22,5
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,2017-08-26,6.8,3016,...,436.0,126.0,NaN,-37.85274,144.88738,Western Metropolitan,6380,"-37.85274, 144.88738",20,5
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,2017-08-26,6.8,3016,...,866.0,157.0,NaN,-37.85908,144.89299,Western Metropolitan,6380,"-37.85908, 144.89299",97,5
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,2017-08-26,6.3,3013,...,362.0,112.0,NaN,-37.81188,144.88449,Western Metropolitan,6543,"-37.81188, 144.88449",97,5

In [11]:
# Напишите функцию get_weekend(weekday), которая принимает на вход элемент столбца WeekdaySale и возвращает 1, 
# если день является выходным, и 0 — в противном случае, и создайте столбец Weekend в таблице melb_df с помощью неё.

# Примените эту функцию к столбцу и вычислите среднюю цену объекта недвижимости, проданного в выходные дни. 
# Результат округлите до целых.

In [23]:
def get_weekend(weekday: int):
    weekend_list = [5, 6]
    if weekday in weekend_list:
        return 1
    
    return 0

In [24]:
melb_df['Weekend'] = melb_df['WeekdaySale'].apply(get_weekend)

In [25]:
# Средняя цена объекта проданного в выходные
int(round(melb_df[melb_df['Weekend'] == 1]['Price'].mean(), 0))

1081199

In [26]:
# Средняя цена объекта проданного в рабочие дни
int(round(melb_df[melb_df['Weekend'] == 0]['Price'].mean(), 0))

982402

In [27]:
# Преобразуйте столбец SellerG с наименованиями риелторских компаний в таблице melb_df следующим образом: 
# оставьте в столбце только 49 самых популярных компаний, а остальные обозначьте как 'other'.

In [28]:
melb_df['SellerG'].value_counts()

Nelson           1565
Jellis           1316
hockingstuart    1167
Barry            1011
Ray               701
                 ...
Prowse              1
Luxe                1
Zahn                1
Homes               1
Point               1
Name: SellerG, Length: 268, dtype: int64

In [29]:
melb_df['SellerG'].nunique()

268

In [33]:
most_common_agency = melb_df['SellerG'].value_counts().nlargest(49).index

In [34]:
# Отбираю 49 самых крупных и еще один под все остальные
melb_df['SellerG'] = melb_df['SellerG'].apply(lambda x: x if x in most_common_agency else 'other')

In [38]:
# Итого осталось 50 агенств
melb_df['SellerG'].value_counts(normalize=True).shape[0]

50

In [39]:
# Найдите, во сколько раз минимальная цена объектов недвижимости, проданных компанией 'Nelson',
# больше минимальной цены объектов, проданных компаниями, обозначенными как 'other'. Ответ округлите до десятых.
nelson_min_price = melb_df[melb_df['SellerG'] == 'Nelson']['Price'].min()
nelson_min_price

170000.0

In [40]:
other_min_price = melb_df[melb_df['SellerG'] == 'other']['Price'].min()
other_min_price

131000.0

In [39]:
round(nelson_min_price / other_min_price, 1)

1.3

In [60]:
def delete_columns(df, col=[]):
    """
    Напишите функцию delete_columns(df, col=[]), которая удаляет столбцы из DataFrame и возвращает новую таблицу. 
    Если одного из указанных столбцов в таблице не существует, то функция должна возвращать None.
    """
    df_columns = set(df.columns)
    
    if set(col).issubset(df_columns):
        return df.drop(col, axis=1)
    
    return None

In [61]:
customer_df = pd.DataFrame({
    'number': [0, 1, 2, 3, 4],
    'cust_id': [128, 1201, 9832, 4392, 7472],
    'cust_age': [13, 21, 19, 21, 60],
    'cust_sale': [0, 0, 0.2, 0.15, 0.3],
    'cust_year_birth': [2008, 2000, 2002, 2000, 1961],
    'cust_order': [1400, 14142, 900, 1240, 8430]
})

In [63]:
columns_for_delete = [] #выбранные вами столбцы
new_df = delete_columns(customer_df, columns_for_delete)
print(new_df)

   number  cust_id  cust_age  cust_sale  cust_year_birth  cust_order
0       0      128        13       0.00             2008        1400
1       1     1201        21       0.00             2000       14142
2       2     9832        19       0.20             2002         900
3       3     4392        21       0.15             2000        1240
4       4     7472        60       0.30             1961        8430

In [64]:
# Задан DataFrame countries_df, содержащий следующие столбцы: название страны, 
# население (population) в миллионах человек и площадь страны (square) в квадратных километрах.
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

In [70]:
# Рассчитайте среднюю плотность населения представленных стран (количество человек на квадратный километр). 
# Ответ округлите до сотых.
countries_df['density'] = countries_df['population'] * 1000000 / countries_df['square']

In [72]:
countries_df['density'].mean()

84.93080566562001

In [73]:
delta_days = melb_df['Date'] - pd.to_datetime('2016-01-01')

In [76]:
delta_days

index
0       337 days
1        34 days
2       428 days
3       428 days
4       155 days
          ...
13575   603 days
13576   603 days
13577   603 days
13578   603 days
13579   603 days
Name: Date, Length: 13580, dtype: timedelta64[ns]