В каком году отмечается наибольшее количество случаев наблюдения НЛО в США?

In [1]:
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv'

In [3]:
load = pd.read_csv(url)

In [4]:
ufo_df = load.copy()

In [5]:
ufo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18241 entries, 0 to 18240
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   City             18216 non-null  object
 1   Colors Reported  2882 non-null   object
 2   Shape Reported   15597 non-null  object
 3   State            18241 non-null  object
 4   Time             18241 non-null  object
dtypes: object(5)
memory usage: 712.7+ KB

In [9]:
ufo_df['Datetime'] = pd.to_datetime(ufo_df['Time'], dayfirst=True)

In [10]:
ufo_df.drop('Time', axis=1, inplace=True)

In [11]:
year_series = ufo_df['Datetime'].dt.year

In [12]:
# В каком году отмечается наибольшее количество случаев наблюдения НЛО в США?
year_series.value_counts().index[0]

1999

Найдите средний интервал времени (в днях) между двумя последовательными случаями наблюдения НЛО в штате Невада (NV).

In [13]:
nv_only_df = ufo_df[ufo_df['State'] == 'NV']

In [14]:
nv_only_df

             City Colors Reported Shape Reported State            Datetime
76      Las Vegas             NaN           DISK    NV 1947-07-15 10:00:00
172    Nellis AFB             NaN           DISK    NV 1952-02-17 18:00:00
565        Fallon             NaN           OVAL    NV 1959-09-15 00:00:00
566     Goldfield             NaN          LIGHT    NV 1959-09-15 01:00:00
613           NaN             NaN           DISK    NV 1960-01-07 12:00:00
...           ...             ...            ...   ...                 ...
17447    Laughlin             NaN      FORMATION    NV 2000-09-16 22:00:00
17567   Las Vegas             NaN         SPHERE    NV 2000-09-30 22:25:00
17617   Las Vegas      RED YELLOW          OTHER    NV 2000-06-10 20:25:00
17890        Reno             NaN       TRIANGLE    NV 2000-07-11 02:15:00
18104   Las Vegas             NaN       TRIANGLE    NV 2000-10-12 17:30:00

[284 rows x 5 columns]

In [15]:
# Найдите средний интервал времени (в днях) между двумя последовательными случаями наблюдения НЛО в штате Невада (NV).
int(round(nv_only_df['Datetime'].dt.date.diff().dt.days.mean(), 0))

69