In [7]:
import pandas as pd

In [8]:
melb_data = pd.read_csv('data/melb_data_ps.csv', sep=',',  index_col=0, header=0)

In [9]:
melb_df = melb_data.copy()

In [10]:
# Количество уникальных адресов
melb_df['Address'].nunique()

13378

In [11]:
def get_street_type(addres):
    # Создаём список географических пометок exclude_list.
    exclude_list = ['N', 'S', 'W', 'E']
    # Метод split() разбивает строку на слова по пробелу.
    # В результате получаем список слов в строке и заносим его в переменную address_list.
    address_list = addres.split(' ')
    # Обрезаем список, оставляя в нём только последний элемент,
    # потенциальный подтип улицы, и заносим в переменную street_type.
    street_type = address_list[-1]
    # Делаем проверку на то, что полученный подтип является географической пометкой.
    # Для этого проверяем его на наличие в списке exclude_list.
    if street_type in exclude_list:
    # Если переменная street_type является географической пометкой,
    # переопределяем её на второй элемент с конца списка address_list.
        street_type = address_list[-2]
    # Возвращаем переменную street_type, в которой хранится подтип улицы.
    return street_type

In [12]:
street_type = melb_df['Address'].apply(get_street_type)

In [13]:
street_type.value_counts()

St           8012
Rd           2825
Ct            612
Dr            447
Av            321
Gr            311
Pde           211
Pl            169
Cr            152
Cl            100
La             67
Bvd            53
Tce            47
Wy             40
Avenue         40
Cct            25
Hwy            24
Parade         15
Boulevard      13
Sq             11
Crescent        9
Cir             7
Strand          7
Esplanade       6
Grove           5
Gdns            4
Grn             4
Fairway         4
Mews            4
Crossway        3
Righi           3
Victoria        2
Ridge           2
Crofts          2
Esp             2
Glade           1
Gra             1
Ave             1
Woodland        1
Outlook         1
Hts             1
Highway         1
Athol           1
Summit          1
Grand           1
Res             1
Nook            1
Eyrie           1
Dell            1
East            1
Loop            1
Grange          1
Terrace         1
Cove            1
Qy              1
Corso           1
Name: Address, dtype: int64

In [14]:
street_type.nunique()

56

In [5]:
def fix_address(adress: str):
    names_for_fix = [['Avenue', 'Av'], ['Boulevard', 'Bvd'], ['Parade', 'Pde']]
    
    for name, fix in names_for_fix:
        if name in adress:
            adress = adress.replace(name, fix)
            break
    
    return adress

In [15]:
street_type = street_type.apply(fix_address)

In [16]:
street_type.nunique()

53

In [17]:
# Оставляю только первые 10 уникальных значений, самых больших
most_common = list(street_type.value_counts().nlargest(10).index)

In [18]:
# Заменяю все остальные значения идентификаторов адреса на other
melb_df['Street Type'] = street_type.apply(lambda x: x if x in most_common else 'other')

In [19]:
# Теперь всего 11 прзнакоыв
melb_df['Street Type'].nunique()

11

In [21]:
def get_experience(arg):
    """
    Напишите функцию get_experience(arg), аргументом которой является строка столбца с опытом работы. 
    Функция должна возвращать опыт работы в месяцах. Не забудьте привести результат к целому числу.
    """
    
    # Создаю списки с возможными склонениями года и месяца в выражениях
    years_list = ['лет', 'год', 'года']
    month_list = ['месяц', 'месяца', 'месяцев']
    
    # Удаляю текстовое начало строки
    arg = arg.replace('Опыт работы ', '')
    
    # Делю строку на слова и помещаю в список
    word_list = arg.split()
    # Разворачиваю список
    word_list = word_list[::-1]
    
    
    total_month = 0
    
    # Иду по списку используя индексы
    for i in range(len(word_list)):
        # Если слово есть в списке годов
        if word_list[i] in years_list:
            # То следующий элемент списка это количество лет, делаю приведение типов, перевожу в месяцы и прибавляю к суммирующей переменной
            total_month += int(word_list[i+1]) * 12
        elif word_list[i] in month_list:
            total_month += int(word_list[i+1])

    return total_month

In [22]:
if __name__ == '__main__':
    experience_col = pd.Series([
        'Опыт работы 8 лет 3 месяца',
        'Опыт работы 3 года 5 месяцев',
        'Опыт работы 1 год 9 месяцев',
        'Опыт работы 3 месяца',
        'Опыт работы 6 лет'
        ])
    experience_month = experience_col.apply(get_experience)

In [23]:
experience_month

0    99
1    41
2    21
3     3
4    72
dtype: int64