In [2]:
import pandas as pd

In [3]:
melb_data = pd.read_csv('data/melb_data_ps.csv', sep=',',  index_col=0, header=0)

In [4]:
melb_df = melb_data.copy()

In [5]:
# Количество уникальных адресов
melb_df['Address'].nunique()

13378

In [6]:
def get_street_type(addres):
    # Создаём список географических пометок exclude_list.
    exclude_list = ['N', 'S', 'W', 'E']
    # Метод split() разбивает строку на слова по пробелу.
    # В результате получаем список слов в строке и заносим его в переменную address_list.
    address_list = addres.split(' ')
    # Обрезаем список, оставляя в нём только последний элемент,
    # потенциальный подтип улицы, и заносим в переменную street_type.
    street_type = address_list[-1]
    # Делаем проверку на то, что полученный подтип является географической пометкой.
    # Для этого проверяем его на наличие в списке exclude_list.
    if street_type in exclude_list:
    # Если переменная street_type является географической пометкой,
    # переопределяем её на второй элемент с конца списка address_list.
        street_type = address_list[-2]
    # Возвращаем переменную street_type, в которой хранится подтип улицы.
    return street_type

In [7]:
street_type = melb_df['Address'].apply(get_street_type)

In [8]:
street_type.value_counts()

St           8012
Rd           2825
Ct            612
Dr            447
Av            321
Gr            311
Pde           211
Pl            169
Cr            152
Cl            100
La             67
Bvd            53
Tce            47
Wy             40
Avenue         40
Cct            25
Hwy            24
Parade         15
Boulevard      13
Sq             11
Crescent        9
Cir             7
Strand          7
Esplanade       6
Grove           5
Gdns            4
Grn             4
Fairway         4
Mews            4
Crossway        3
Righi           3
Victoria        2
Ridge           2
Crofts          2
Esp             2
Glade           1
Gra             1
Ave             1
Woodland        1
Outlook         1
Hts             1
Highway         1
Athol           1
Summit          1
Grand           1
Res             1
Nook            1
Eyrie           1
Dell            1
East            1
Loop            1
Grange          1
Terrace         1
Cove            1
Qy              1
Corso           1
Name: Address, dtype: int64

In [9]:
street_type.nunique()

56

In [10]:
def fix_address(adress: str):
    names_for_fix = [['Avenue', 'Av'], ['Boulevard', 'Bvd'], ['Parade', 'Pde']]
    
    for name, fix in names_for_fix:
        if name in adress:
            adress = adress.replace(name, fix)
            break
    
    return adress

In [11]:
street_type = street_type.apply(fix_address)

In [12]:
street_type.nunique()

53

In [13]:
# Оставляю только первые 10 уникальных значений, самых больших
most_common = list(street_type.value_counts().nlargest(10).index)

In [14]:
# Заменяю все остальные значения идентификаторов адреса на other
melb_df['Street Type'] = street_type.apply(lambda x: x if x in most_common else 'other')

In [15]:
# Теперь всего 11 прзнакоыв
melb_df['Street Type'].nunique()

11

In [16]:
def get_experience(arg):
    """
    Напишите функцию get_experience(arg), аргументом которой является строка столбца с опытом работы. 
    Функция должна возвращать опыт работы в месяцах. Не забудьте привести результат к целому числу.
    """
    
    # Создаю списки с возможными склонениями года и месяца в выражениях
    years_list = ['лет', 'год', 'года']
    month_list = ['месяц', 'месяца', 'месяцев']
    
    # Удаляю текстовое начало строки
    arg = arg.replace('Опыт работы ', '')
    
    # Делю строку на слова и помещаю в список
    word_list = arg.split()
    # Разворачиваю список
    word_list = word_list[::-1]
    
    
    total_month = 0
    
    # Иду по списку используя индексы
    for i in range(len(word_list)):
        # Если слово есть в списке годов
        if word_list[i] in years_list:
            # То следующий элемент списка это количество лет, делаю приведение типов, перевожу в месяцы и прибавляю к суммирующей переменной
            total_month += int(word_list[i+1]) * 12
        elif word_list[i] in month_list:
            total_month += int(word_list[i+1])

    return total_month

In [17]:
if __name__ == '__main__':
    experience_col = pd.Series([
        'Опыт работы 8 лет 3 месяца',
        'Опыт работы 3 года 5 месяцев',
        'Опыт работы 1 год 9 месяцев',
        'Опыт работы 3 месяца',
        'Опыт работы 6 лет'
        ])
    experience_month = experience_col.apply(get_experience)

In [18]:
experience_month

0    99
1    41
2    21
3     3
4    72
dtype: int64

In [19]:
melb_df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates,Street Type
index,,,,,,,,,,,,,,,,,,,,,
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067,...,202.0,126.0,1970,Yarra,-37.79960,144.99840,Northern Metropolitan,4019,"-37.7996, 144.9984",St
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067,...,156.0,79.0,1900,Yarra,-37.80790,144.99340,Northern Metropolitan,4019,"-37.8079, 144.9934",St
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067,...,134.0,150.0,1900,Yarra,-37.80930,144.99440,Northern Metropolitan,4019,"-37.8093, 144.9944",St
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067,...,94.0,126.0,1970,Yarra,-37.79690,144.99690,Northern Metropolitan,4019,"-37.7969, 144.9969",other
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067,...,120.0,142.0,2014,Yarra,-37.80720,144.99410,Northern Metropolitan,4019,"-37.8072, 144.9941",St
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150,...,652.0,126.0,1981,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392,"-37.90562, 145.16761",Cr
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016,...,333.0,133.0,1995,NaN,-37.85927,144.87904,Western Metropolitan,6380,"-37.85927, 144.87904",Dr
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016,...,436.0,126.0,1997,NaN,-37.85274,144.88738,Western Metropolitan,6380,"-37.85274, 144.88738",St
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016,...,866.0,157.0,1920,NaN,-37.85908,144.89299,Western Metropolitan,6380,"-37.85908, 144.89299",St
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013,...,362.0,112.0,1920,NaN,-37.81188,144.88449,Western Metropolitan,6543,"-37.81188, 144.88449",St

In [20]:
# определим число уникальных категорий в каждом столбце нашей таблицы melb_df. Для этого создадим вспомогательную таблицу unique_counts
# создаём пустой список
unique_list = []
# пробегаемся по именам столбцов в таблице
for col in melb_df.columns:
    # создаём кортеж (имя столбца, число уникальных значений)
    item = (col, melb_df[col].nunique(), melb_df[col].dtype) 
    # добавляем кортеж в список
    unique_list.append(item) 
# создаём вспомогательную таблицу и сортируем её
unique_counts = pd.DataFrame(
    unique_list,
    columns=['Column_Name', 'Num_Unique', 'Type']
).sort_values(by='Num_Unique',  ignore_index=True)

In [21]:
unique_counts

      Column_Name  Num_Unique     Type
0            Type           3   object
1          Method           5   object
2      Regionname           8   object
3        Bathroom           9    int64
4           Rooms           9    int64
5             Car          11    int64
6     Street Type          11   object
7         Bedroom          12    int64
8     CouncilArea          33   object
9            Date          58   object
10      YearBuilt         144    int64
11       Postcode         198    int64
12       Distance         202  float64
13        SellerG         268   object
14  Propertycount         311    int64
15         Suburb         314   object
16   BuildingArea         602  float64
17       Landsize        1448  float64
18          Price        2204  float64
19      Lattitude        6503  float64
20     Longtitude        7063  float64
21    Coordinates       13097   object
22        Address       13378   object