In [1]:
import pandas as pd

df = pd.DataFrame({"device_id": ['D475', 'D175', 'D200', 'D375', 'M475', 'M400', 'M250', 'A150'],
                   "device_temperature": [35.4, 45.2, 59.3, 49.3, 32.2, 35.7, 36.8, 34.9],
                   "device_status": ["Inactive", "Active", "Active", "Active", "Active", "Inactive", "Active", "Active"]})

df1 = pd.DataFrame({"device_id": ['D475', 'D175', 'D200', 'D375', 'M475', 'M400', 'M250', 'A150'],
                   "device_temperature": [39.4, 45.2, 29.3, 49.3, 32.2, 35.7, 36.8, 24.9],
                   "device_status": ["Active", "Active", "Inactive", "Active", "Active", "Inactive", "Active", "Inactive"]})

In [2]:
df3 = pd.concat([df, df1])

In [3]:
df3.drop_duplicates(keep=False)

  device_id  device_temperature device_status
0      D475                35.4      Inactive
2      D200                59.3        Active
7      A150                34.9        Active
0      D475                39.4        Active
2      D200                29.3      Inactive
7      A150                24.9      Inactive

In [4]:
df.compare(df1)

  device_temperature       device_status
                self other          self     other
0               35.4  39.4      Inactive    Active
2               59.3  29.3        Active  Inactive
7               34.9  24.9        Active  Inactive

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
plt.style.use('seaborn-darkgrid')
%config InlineBackend.figure_format = 'retina'
plt.rcParams['figure.figsize'] = (10, 8)

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
%config InlineBackend.figure_format = 'retina'
plt.rcParams['figure.figsize'] = (10, 8)
sns.set_palette('Set2')
#plt.style.use('seaborn-darkgrid')
#sns.set_theme('notebook')

In [ ]:
%load_ext autoreload
%autoreload 2

import sys
sys.path.append('..')
import Handlers as hd

In [1]:
import numpy as np
import pandas as pd

In [ ]:
from sklearn import set_config
set_config(transform_output = 'pandas')