In [1]:
import pandas as pd

In [4]:
ratings1 = pd.read_csv('data/ratings1.csv')
ratings2 = pd.read_csv('data/ratings2.csv')
movies = pd.read_csv('data/movies.csv')
dates = pd.read_csv('data/dates.csv')

In [5]:
ratings1_df = ratings1.copy()
ratings2_df = ratings2.copy()
movies_df = movies.copy()
dates_df = dates.copy()

In [12]:
# Сколько уникальных фильмов представлено в таблице movies?
movies_df.nunique()

movieId    9742
title      9737
genres      951
dtype: int64

In [14]:
# Сколько уникальных пользователей в таблице ratings1
ratings1_df['userId'].nunique()

274

In [20]:
# В каком году было выставлено больше всего оценок?
pd.to_datetime(dates_df['date']).dt.year.value_counts()

2000    10061
2017     8198
2007     7114
2016     6703
2015     6616
2018     6418
1996     6040
2005     5813
2012     4656
2008     4351
2009     4158
2006     4059
2003     4014
2001     3922
2002     3478
2004     3279
1999     2439
2010     2301
1997     1916
2011     1690
2013     1664
2014     1439
1998      507
Name: date, dtype: int64

In [21]:
ratings_df = pd.concat([ratings1_df, ratings2_df], ignore_index=True)

In [24]:
ratings_df

        userId  movieId  rating
0            1        1     4.0
1            1        3     4.0
2            1        6     4.0
3            1       47     5.0
4            1       50     5.0
...        ...      ...     ...
100832     610   166534     4.0
100833     610   168248     5.0
100834     610   168250     5.0
100835     610   168252     5.0
100836     610   170875     3.0

[100837 rows x 3 columns]

In [25]:
ratings_df.shape[0]

100837

In [26]:
dates_df.shape[0]

100836

In [27]:
# количество записей в ratings_df и dates_df не соответствуют друг-другу
ratings_df.drop_duplicates(ignore_index=True, inplace=True)

In [29]:
# Теперь все ок
ratings_df.shape[0]

100836

In [37]:
# Объединяю в единую таблицу рейтинги с датами
ratings_dates_df = pd.concat([ratings_df, dates_df], axis=1)

In [38]:
ratings_dates_df['date'] = pd.to_datetime(ratings_dates_df['date'])

In [39]:
ratings_dates_df

        userId  movieId  rating                date
0            1        1     4.0 2000-07-30 18:45:03
1            1        3     4.0 2000-07-30 18:20:47
2            1        6     4.0 2000-07-30 18:37:04
3            1       47     5.0 2000-07-30 19:03:35
4            1       50     5.0 2000-07-30 18:48:51
...        ...      ...     ...                 ...
100831     610   166534     4.0 2017-05-03 21:53:22
100832     610   168248     5.0 2017-05-03 22:21:31
100833     610   168250     5.0 2017-05-08 19:50:47
100834     610   168252     5.0 2017-05-03 21:19:12
100835     610   170875     3.0 2017-05-03 21:20:15

[100836 rows x 4 columns]