In [38]:
import pandas as pd

In [39]:
covid = pd.read_csv('data\covid_data.csv')

In [40]:
df_covid = covid.copy()

In [41]:
df_covid['date'] = pd.to_datetime(df_covid['date'], yearfirst=True)

In [42]:
df_covid

,date,province/state,country,confirmed,deaths,recovered
0,2020-01-22,Anhui,China,1.0,0.0,0.0
1,2020-01-22,Beijing,China,14.0,0.0,0.0
2,2020-01-22,Chongqing,China,6.0,0.0,0.0
3,2020-01-22,Fujian,China,1.0,0.0,0.0
4,2020-01-22,Gansu,China,0.0,0.0,0.0
...,...,...,...,...,...,...
306424,2021-05-29,Zaporizhia Oblast,Ukraine,102641.0,2335.0,95289.0
306425,2021-05-29,Zeeland,Netherlands,29147.0,245.0,0.0
306426,2021-05-29,Zhejiang,China,1364.0,1.0,1324.0
306427,2021-05-29,Zhytomyr Oblast,Ukraine,87550.0,1738.0,83790.0
306428,2021-05-29,Zuid-Holland,Netherlands,391559.0,4252.0,0.0

In [43]:
df_covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306429 entries, 0 to 306428
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   date            306429 non-null  datetime64[ns]
 1   province/state  228329 non-null  object
 2   country         306429 non-null  object
 3   confirmed       306429 non-null  float64
 4   deaths          306429 non-null  float64
 5   recovered       306429 non-null  float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 14.0+ MB

In [44]:
for col in df_covid.columns[3:]:
    df_covid[col] = df_covid[col].astype(int)

In [45]:
df_covid

,date,province/state,country,confirmed,deaths,recovered
0,2020-01-22,Anhui,China,1,0,0
1,2020-01-22,Beijing,China,14,0,0
2,2020-01-22,Chongqing,China,6,0,0
3,2020-01-22,Fujian,China,1,0,0
4,2020-01-22,Gansu,China,0,0,0
...,...,...,...,...,...,...
306424,2021-05-29,Zaporizhia Oblast,Ukraine,102641,2335,95289
306425,2021-05-29,Zeeland,Netherlands,29147,245,0
306426,2021-05-29,Zhejiang,China,1364,1,1324
306427,2021-05-29,Zhytomyr Oblast,Ukraine,87550,1738,83790
306428,2021-05-29,Zuid-Holland,Netherlands,391559,4252,0

In [46]:
df_covid['province/state'].value_counts(normalize=True)

Unknown                         0.018057
Amazonas                        0.004857
Diamond Princess cruise ship    0.004047
Grand Princess                  0.003863
Punjab                          0.003101
                                  ...
Harrison County, KY             0.000004
Johnson County, IA              0.000004
Queens County, NY               0.000004
Unassigned Location, VT         0.000004
Charlotte County, FL            0.000004
Name: province/state, Length: 737, dtype: float64

In [47]:
vaccinations = pd.read_csv('data\country_vaccinations.csv')

In [48]:
df_vaccinations = vaccinations.copy()

In [49]:
df_vaccinations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42795 entries, 0 to 42794
Data columns (total 15 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   country                              42795 non-null  object
 1   iso_code                             42795 non-null  object
 2   date                                 42795 non-null  object
 3   total_vaccinations                   23457 non-null  float64
 4   people_vaccinated                    22371 non-null  float64
 5   people_fully_vaccinated              19462 non-null  float64
 6   daily_vaccinations_raw               19251 non-null  float64
 7   daily_vaccinations                   42558 non-null  float64
 8   total_vaccinations_per_hundred       23457 non-null  float64
 9   people_vaccinated_per_hundred        22371 non-null  float64
 10  people_fully_vaccinated_per_hundred  19462 non-null  float64
 11  daily_vaccinations_per_million       42558 non-null  float64
 12  vaccines                             42795 non-null  object
 13  source_name                          42795 non-null  object
 14  source_website                       42795 non-null  object
dtypes: float64(9), object(6)
memory usage: 4.9+ MB

In [50]:
df_vaccinations = df_vaccinations[['country', 'date', 'total_vaccinations', 
     'people_vaccinated', 'people_vaccinated_per_hundred',
     'people_fully_vaccinated', 'people_fully_vaccinated_per_hundred',
     'daily_vaccinations', 'vaccines']]

In [51]:
df_vaccinations['date'] = pd.to_datetime(df_vaccinations['date'])

Данная таблица содержит следующие столбцы:

country — наименование страны;
date — дата наблюдения;
total_vaccinations — общее число введённых вакцин в стране на указанный день;
people_vaccinated — общее число привитых первым компонентом в стране на указанный день;
people_vaccinated_per_hundred — процент привитых первым компонентом в стране на указанный день (рассчитывается как );
people_fully_vaccinated — общее число привитых вторым компонентом в стране на указанный день (первый компонент уже был введён им ранее);
people_fully_vaccinated_per_hundred — процент привитых вторым компонентом в стране на указанный день (рассчитывается как );
daily_vaccination — ежедневная вакцинация (число вакцинированных в указанный день);
vaccines — комбинации вакцин, используемые в стране.

In [52]:
df_covid_by_contry = df_covid.groupby(['date', 'country'], as_index=False)[['confirmed', 'deaths', 'recovered']].sum()

In [53]:
df_covid_by_contry.head()

        date    country  confirmed  deaths  recovered
0 2020-01-22      China        547      17         28
1 2020-01-22  Hong Kong          0       0          0
2 2020-01-22      Japan          2       0          0
3 2020-01-22   Kiribati          0       0          0
4 2020-01-22      Macau          1       0          0

In [54]:
df_covid_by_contry.tail()

            date             country  confirmed  deaths  recovered
86780 2021-05-29             Vietnam       6908      47       2896
86781 2021-05-29  West Bank and Gaza     307838    3492     300524
86782 2021-05-29               Yemen       6731    1319       3399
86783 2021-05-29              Zambia      94751    1276      91594
86784 2021-05-29            Zimbabwe      38933    1594      36578

In [55]:
# Создадим признак больных на данный момент (active).
# Для этого вычтем из общего числа зафиксированных случаев число смертей и число выздоровевших пациентов:
df_covid_by_contry['active'] = df_covid_by_contry['confirmed'] - df_covid_by_contry['deaths'] - df_covid_by_contry['recovered']

In [56]:
df_covid_by_contry

            date             country  confirmed  deaths  recovered  active
0     2020-01-22               China        547      17         28     502
1     2020-01-22           Hong Kong          0       0          0       0
2     2020-01-22               Japan          2       0          0       2
3     2020-01-22            Kiribati          0       0          0       0
4     2020-01-22               Macau          1       0          0       1
...          ...                 ...        ...     ...        ...     ...
86780 2021-05-29             Vietnam       6908      47       2896    3965
86781 2021-05-29  West Bank and Gaza     307838    3492     300524    3822
86782 2021-05-29               Yemen       6731    1319       3399    2013
86783 2021-05-29              Zambia      94751    1276      91594    1881
86784 2021-05-29            Zimbabwe      38933    1594      36578     761

[86785 rows x 6 columns]

In [57]:
df_covid_by_contry = df_covid_by_contry.sort_values(by=['country', 'date'])

In [58]:
df_covid_by_contry

,date,country,confirmed,deaths,recovered,active
881,2020-02-24,Afghanistan,1,0,0,1
920,2020-02-25,Afghanistan,1,0,0,1
963,2020-02-26,Afghanistan,1,0,0,1
1013,2020-02-27,Afghanistan,1,0,0,1
1067,2020-02-28,Afghanistan,1,0,0,1
...,...,...,...,...,...,...
2373,2020-03-12,occupied Palestinian territory,0,0,0,0
2647,2020-03-14,occupied Palestinian territory,0,0,0,0
2796,2020-03-15,occupied Palestinian territory,0,0,0,0
2954,2020-03-16,occupied Palestinian territory,0,0,0,0
3115,2020-03-17,occupied Palestinian territory,0,0,0,0

In [60]:
# Создадим признак ежедневного прироста числа заболевших, умерших и выздоровевших людей. 
# Для этого отсортируем данные по названиям стран, а затем по датам. 
# После этого произведём группировку по странам и рассчитаем разницу между «вчера и сегодня» с помощью метода diff():
df_covid_by_contry = df_covid_by_contry.sort_values(by=['country', 'date'])
df_covid_by_contry['daily_confirmed'] = df_covid_by_contry.groupby('country')['confirmed'].diff()
df_covid_by_contry['daily_deaths'] = df_covid_by_contry.groupby('country')['deaths'].diff()
df_covid_by_contry['daily_recovered'] = df_covid_by_contry.groupby('country')['recovered'].diff()

In [62]:
df_covid_by_contry.head(50)

,date,country,confirmed,deaths,recovered,active,daily_confirmed,daily_deaths,daily_recovered
881,2020-02-24,Afghanistan,1,0,0,1,NaN,NaN,NaN
920,2020-02-25,Afghanistan,1,0,0,1,0.0,0.0,0.0
963,2020-02-26,Afghanistan,1,0,0,1,0.0,0.0,0.0
1013,2020-02-27,Afghanistan,1,0,0,1,0.0,0.0,0.0
1067,2020-02-28,Afghanistan,1,0,0,1,0.0,0.0,0.0
1129,2020-02-29,Afghanistan,1,0,0,1,0.0,0.0,0.0
1193,2020-03-01,Afghanistan,1,0,0,1,0.0,0.0,0.0
1262,2020-03-02,Afghanistan,1,0,0,1,0.0,0.0,0.0
1338,2020-03-03,Afghanistan,2,0,0,2,1.0,0.0,0.0
1418,2020-03-04,Afghanistan,4,0,0,4,2.0,0.0,0.0
1505,2020-03-05,Afghanistan,4,0,0,4,0.0,0.0,0.0
1596,2020-03-06,Afghanistan,4,0,0,4,0.0,0.0,0.0
1696,2020-03-07,Afghanistan,4,0,0,4,0.0,0.0,0.0
1799,2020-03-08,Afghanistan,5,0,0,5,1.0,0.0,0.0
1908,2020-03-09,Afghanistan,7,0,0,7,2.0,0.0,0.0
2020,2020-03-10,Afghanistan,8,0,0,8,1.0,0.0,0.0
2136,2020-03-11,Afghanistan,11,0,0,11,3.0,0.0,0.0
2254,2020-03-12,Afghanistan,12,0,0,12,1.0,0.0,0.0
2374,2020-03-13,Afghanistan,13,0,0,13,1.0,0.0,0.0
2502,2020-03-14,Afghanistan,15,0,0,15,2.0,0.0,0.0
2648,2020-03-15,Afghanistan,16,0,0,16,1.0,0.0,0.0
2797,2020-03-16,Afghanistan,18,0,1,17,2.0,0.0,1.0
2955,2020-03-17,Afghanistan,20,0,1,19,2.0,0.0,0.0
3116,2020-03-18,Afghanistan,24,0,1,23,4.0,0.0,0.0
3280,2020-03-19,Afghanistan,25,0,1,24,1.0,0.0,0.0
3448,2020-03-20,Afghanistan,29,0,1,28,4.0,0.0,0.0
3622,2020-03-21,Afghanistan,30,0,1,29,1.0,0.0,0.0
3800,2020-03-22,Afghanistan,34,1,1,32,4.0,1.0,0.0
3970,2020-03-23,Afghanistan,41,1,1,39,7.0,0.0,0.0
4141,2020-03-24,Afghanistan,43,1,1,41,2.0,0.0,0.0
4313,2020-03-25,Afghanistan,76,2,2,72,33.0,1.0,1.0
4489,2020-03-26,Afghanistan,80,3,2,75,4.0,1.0,0.0
4667,2020-03-27,Afghanistan,91,3,2,86,11.0,0.0,0.0
4846,2020-03-28,Afghanistan,107,4,2,101,16.0,1.0,0.0
5026,2020-03-29,Afghanistan,118,4,2,112,11.0,0.0,0.0
5206,2020-03-30,Afghanistan,146,4,2,140,28.0,0.0,0.0
5387,2020-03-31,Afghanistan,175,4,5,166,29.0,0.0,3.0
5570,2020-04-01,Afghanistan,197,4,5,188,22.0,0.0,0.0
5753,2020-04-02,Afghanistan,240,4,10,226,43.0,0.0,5.0
5937,2020-04-03,Afghanistan,275,8,10,257,35.0,4.0,0.0
6121,2020-04-04,Afghanistan,300,10,10,280,25.0,2.0,0.0
6305,2020-04-05,Afghanistan,338,12,15,311,38.0,2.0,5.0
6490,2020-04-06,Afghanistan,368,15,18,335,30.0,3.0,3.0
6676,2020-04-07,Afghanistan,424,16,18,390,56.0,1.0,0.0
6862,2020-04-08,Afghanistan,445,16,29,400,21.0,0.0,11.0
7048,2020-04-09,Afghanistan,485,17,32,436,40.0,1.0,3.0
7234,2020-04-10,Afghanistan,532,18,32,482,47.0,1.0,0.0
7421,2020-04-11,Afghanistan,556,18,32,506,24.0,0.0,0.0
7608,2020-04-12,Afghanistan,608,19,32,557,52.0,1.0,0.0
7795,2020-04-13,Afghanistan,666,22,32,612,58.0,3.0,0.0

In [63]:
# За какой период представлены данные в таблице covid_data? В качестве ответа введите даты в формате datetime (без указания времени).
df_covid

,date,province/state,country,confirmed,deaths,recovered
0,2020-01-22,Anhui,China,1,0,0
1,2020-01-22,Beijing,China,14,0,0
2,2020-01-22,Chongqing,China,6,0,0
3,2020-01-22,Fujian,China,1,0,0
4,2020-01-22,Gansu,China,0,0,0
...,...,...,...,...,...,...
306424,2021-05-29,Zaporizhia Oblast,Ukraine,102641,2335,95289
306425,2021-05-29,Zeeland,Netherlands,29147,245,0
306426,2021-05-29,Zhejiang,China,1364,1,1324
306427,2021-05-29,Zhytomyr Oblast,Ukraine,87550,1738,83790
306428,2021-05-29,Zuid-Holland,Netherlands,391559,4252,0

In [69]:
# За какой период представлены данные в таблице vaccinations_data? 
# В качестве ответа введите даты в формате datetime без указания времени.
df_vaccinations.sort_values(by=['date', 'country'])

,country,date,total_vaccinations,people_vaccinated,people_vaccinated_per_hundred,people_fully_vaccinated,people_fully_vaccinated_per_hundred,daily_vaccinations,vaccines
28893,Norway,2020-12-02,0.0,0.0,0.00,NaN,NaN,NaN,"Moderna, Pfizer/BioNTech"
28894,Norway,2020-12-03,0.0,0.0,0.00,NaN,NaN,0.0,"Moderna, Pfizer/BioNTech"
21214,Latvia,2020-12-04,1.0,1.0,0.00,NaN,NaN,NaN,"Johnson&Johnson, Moderna, Oxford/AstraZeneca, ..."
28895,Norway,2020-12-04,0.0,0.0,0.00,NaN,NaN,0.0,"Moderna, Pfizer/BioNTech"
21215,Latvia,2020-12-05,NaN,NaN,NaN,NaN,NaN,0.0,"Johnson&Johnson, Moderna, Oxford/AstraZeneca, ..."
...,...,...,...,...,...,...,...,...,...
39217,Trinidad and Tobago,2021-09-06,936935.0,523198.0,37.28,413737.0,29.48,4931.0,"Oxford/AstraZeneca, Sinopharm/Beijing"
39632,Turkey,2021-09-06,97981595.0,49946816.0,58.73,38628745.0,45.42,666180.0,"Pfizer/BioNTech, Sinovac"
40365,Ukraine,2021-09-06,9923423.0,5618796.0,12.93,4304627.0,9.90,120186.0,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech, ..."
40610,United Arab Emirates,2021-09-06,18439345.0,8772634.0,87.80,7664928.0,76.72,49169.0,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm..."
41328,Uruguay,2021-09-06,5779889.0,2686742.0,77.09,2530652.0,72.61,34491.0,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinovac"

In [77]:
# Тип объединения выставьте так, чтобы в результирующую таблицу попали только наблюдения за период, вычисленный в задании 3.1. 
# То есть в результирующую таблицу должны попасть все записи из таблицы covid_data и из её пересечения с vaccinations_data, но не более. 
# Результат объединения занесите в переменную covid_df.
covid_df = df_covid_by_contry.merge(df_vaccinations, on=['date', 'country'], how='left')

In [78]:
covid_df.shape

(86785, 16)

In [80]:
# В получившейся в задании 3.3 таблице covid_df создайте признаки death_rate — общий процент смертей среди 
# зафиксированных случаев (летальность) и recover_rate — общий процент случаев выздоровления. 
# Данные характеристики рассчитайте как отношение числа смертей (deaths) и числа выздоровлений (recovered) 
# к числу зафиксированных случаев (confirmed) и умножьте результаты на 100%.
covid_df['death_rate'] = covid_df['deaths'] / covid_df['confirmed'] * 100
covid_df['recover_rate'] = covid_df['recovered'] / covid_df['confirmed'] * 100

In [83]:
# Какова максимальная летальность в США (United States) за весь период? Ответ округлите до второго знака после запятой.
round(covid_df[covid_df['country'] == 'United States']['death_rate'].max(), 2)

7.19

In [84]:
# Чему равен средний процент выздоровевших в России (Russia)? Ответ округлите до второго знака после запятой.
round(covid_df[covid_df['country'] == 'Russia']['recover_rate'].mean(), 2)

67.06