In [1]:
import pandas as pd

In [2]:
covid = pd.read_csv('data\covid_data.csv')

In [3]:
df = covid.copy()

In [4]:
df['date'] = pd.to_datetime(df['date'], yearfirst=True)

In [5]:
df

,date,province/state,country,confirmed,deaths,recovered
0,2020-01-22,Anhui,China,1.0,0.0,0.0
1,2020-01-22,Beijing,China,14.0,0.0,0.0
2,2020-01-22,Chongqing,China,6.0,0.0,0.0
3,2020-01-22,Fujian,China,1.0,0.0,0.0
4,2020-01-22,Gansu,China,0.0,0.0,0.0
...,...,...,...,...,...,...
306424,2021-05-29,Zaporizhia Oblast,Ukraine,102641.0,2335.0,95289.0
306425,2021-05-29,Zeeland,Netherlands,29147.0,245.0,0.0
306426,2021-05-29,Zhejiang,China,1364.0,1.0,1324.0
306427,2021-05-29,Zhytomyr Oblast,Ukraine,87550.0,1738.0,83790.0
306428,2021-05-29,Zuid-Holland,Netherlands,391559.0,4252.0,0.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306429 entries, 0 to 306428
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   date            306429 non-null  datetime64[ns]
 1   province/state  228329 non-null  object
 2   country         306429 non-null  object
 3   confirmed       306429 non-null  float64
 4   deaths          306429 non-null  float64
 5   recovered       306429 non-null  float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 14.0+ MB

In [7]:
for col in df.columns[3:]:
    df[col] = df[col].astype(int)

In [8]:
df

,date,province/state,country,confirmed,deaths,recovered
0,2020-01-22,Anhui,China,1,0,0
1,2020-01-22,Beijing,China,14,0,0
2,2020-01-22,Chongqing,China,6,0,0
3,2020-01-22,Fujian,China,1,0,0
4,2020-01-22,Gansu,China,0,0,0
...,...,...,...,...,...,...
306424,2021-05-29,Zaporizhia Oblast,Ukraine,102641,2335,95289
306425,2021-05-29,Zeeland,Netherlands,29147,245,0
306426,2021-05-29,Zhejiang,China,1364,1,1324
306427,2021-05-29,Zhytomyr Oblast,Ukraine,87550,1738,83790
306428,2021-05-29,Zuid-Holland,Netherlands,391559,4252,0

In [9]:
df['province/state'].value_counts(normalize=True)

Unknown                         0.018057
Amazonas                        0.004857
Diamond Princess cruise ship    0.004047
Grand Princess                  0.003863
Punjab                          0.003101
                                  ...
Harrison County, KY             0.000004
Johnson County, IA              0.000004
Queens County, NY               0.000004
Unassigned Location, VT         0.000004
Charlotte County, FL            0.000004
Name: province/state, Length: 737, dtype: float64

In [10]:
country_vaccinations = pd.read_csv('data\country_vaccinations.csv')

In [11]:
df_vaccinations = country_vaccinations.copy()

In [12]:
df_vaccinations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42795 entries, 0 to 42794
Data columns (total 15 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   country                              42795 non-null  object
 1   iso_code                             42795 non-null  object
 2   date                                 42795 non-null  object
 3   total_vaccinations                   23457 non-null  float64
 4   people_vaccinated                    22371 non-null  float64
 5   people_fully_vaccinated              19462 non-null  float64
 6   daily_vaccinations_raw               19251 non-null  float64
 7   daily_vaccinations                   42558 non-null  float64
 8   total_vaccinations_per_hundred       23457 non-null  float64
 9   people_vaccinated_per_hundred        22371 non-null  float64
 10  people_fully_vaccinated_per_hundred  19462 non-null  float64
 11  daily_vaccinations_per_million       42558 non-null  float64
 12  vaccines                             42795 non-null  object
 13  source_name                          42795 non-null  object
 14  source_website                       42795 non-null  object
dtypes: float64(9), object(6)
memory usage: 4.9+ MB

In [13]:
df_vaccinations = df_vaccinations[['country', 'date', 'total_vaccinations', 
     'people_vaccinated', 'people_vaccinated_per_hundred',
     'people_fully_vaccinated', 'people_fully_vaccinated_per_hundred',
     'daily_vaccinations', 'vaccines']]

In [14]:
df_vaccinations

,country,date,total_vaccinations,people_vaccinated,people_vaccinated_per_hundred,people_fully_vaccinated,people_fully_vaccinated_per_hundred,daily_vaccinations,vaccines
0,Afghanistan,2021-02-22,0.0,0.0,0.00,NaN,NaN,NaN,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
1,Afghanistan,2021-02-23,NaN,NaN,NaN,NaN,NaN,1367.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
2,Afghanistan,2021-02-24,NaN,NaN,NaN,NaN,NaN,1367.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
3,Afghanistan,2021-02-25,NaN,NaN,NaN,NaN,NaN,1367.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
4,Afghanistan,2021-02-26,NaN,NaN,NaN,NaN,NaN,1367.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
...,...,...,...,...,...,...,...,...,...
42790,Zimbabwe,2021-09-01,4270430.0,2615233.0,17.33,1655197.0,10.97,36416.0,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac..."
42791,Zimbabwe,2021-09-02,4323735.0,2649505.0,17.56,1674230.0,11.09,39711.0,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac..."
42792,Zimbabwe,2021-09-03,4372216.0,2681657.0,17.77,1690559.0,11.20,42317.0,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac..."
42793,Zimbabwe,2021-09-04,4400246.0,2698332.0,17.88,1701914.0,11.28,41413.0,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac..."
42794,Zimbabwe,2021-09-05,4431599.0,2713248.0,17.98,1718351.0,11.39,41964.0,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac..."

Данная таблица содержит следующие столбцы:

country — наименование страны;
date — дата наблюдения;
total_vaccinations — общее число введённых вакцин в стране на указанный день;
people_vaccinated — общее число привитых первым компонентом в стране на указанный день;
people_vaccinated_per_hundred — процент привитых первым компонентом в стране на указанный день (рассчитывается как );
people_fully_vaccinated — общее число привитых вторым компонентом в стране на указанный день (первый компонент уже был введён им ранее);
people_fully_vaccinated_per_hundred — процент привитых вторым компонентом в стране на указанный день (рассчитывается как );
daily_vaccination — ежедневная вакцинация (число вакцинированных в указанный день);
vaccines — комбинации вакцин, используемые в стране.

In [19]:
country_group_df = df.groupby(['country', 'date'], as_index=False)['confirmed', 'deaths', 'recovered'].sum().sort_values(by=['date', 'country'])

C:\Users\avvoy\AppData\Local\Temp\ipykernel_11340\2987475927.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  country_group_df = df.groupby(['country', 'date'], as_index=False)['confirmed', 'deaths', 'recovered'].sum().sort_values(by=['date', 'country'])

In [20]:
country_group_df.head()

         country       date  confirmed  deaths  recovered
16251      China 2020-01-22        547      17         28
33822  Hong Kong 2020-01-22          0       0          0
39389      Japan 2020-01-22          2       0          0
41230   Kiribati 2020-01-22          0       0          0
47457      Macau 2020-01-22          1       0          0

In [21]:
country_group_df.tail()

                  country       date  confirmed  deaths  recovered
85058             Vietnam 2021-05-29       6908      47       2896
85488  West Bank and Gaza 2021-05-29     307838    3492     300524
85903               Yemen 2021-05-29       6731    1319       3399
86341              Zambia 2021-05-29      94751    1276      91594
86777            Zimbabwe 2021-05-29      38933    1594      36578