In [96]:
# для автозагрузки изменений в модулях без необходимости перезагрузки kelner
%load_ext autoreload
%autoreload 2


# необходимо для корректного импорта своих модулей в JupyterLab
import sys
current_dir = sys.path[0]
project_dir = 'SF_DS_Pro'
last_position = current_dir.find(project_dir) + len(project_dir)
project_path = current_dir[:last_position]
sys.path.append(project_path)


%matplotlib inline
import matplotlib.pyplot as plt # библиотека визуализации
import seaborn as sns
# sns.set_style('whitegrid')
plt.style.use('ggplot')
sns.set(rc={'figure.figsize':(10, 8)})


import warnings
warnings.filterwarnings('ignore')


from IPython.core.display import HTML
HTML("""
<style>
.p-Widget.jp-OutputPrompt.jp-OutputArea-prompt:empty {
  padding: 0;
  border: 0;
}
</style>
""")

import pandas as pd
import numpy as np
pd.set_option('display.float_format', '{:.2f}'.format)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [97]:
from pandas_profiling import ProfileReport

In [98]:
hotels = pd.read_csv('data\hotels.csv')

In [99]:
df = hotels.copy()

hotel_address — адрес отеля;\
additional_number_of_scoring — есть также некоторые гости, которые просто поставили оценку сервису, но не оставили отзыв. Это число указывает, сколько там действительных оценок без проверки.\
review_date — дата, когда рецензент разместил соответствующий отзыв;\
average_score — средний балл отеля, рассчитанный на основе последнего комментария за последний год;\
hotel_name — название отеля;\
reviewer_nationality — страна рецензента;\
negative_review — отрицательный отзыв, который рецензент дал отелю;\
review_total_negative_word_counts — общее количество слов в отрицательном отзыв;\
total_number_of_reviews — общее количество действительных отзывов об отеле;\
positive_review — положительный отзыв, который рецензент дал отелю;\
review_total_positive_word_counts — общее количество слов в положительном отзыве.\
total_number_of_reviews_reviewer_has_given — количество отзывов, которые рецензенты дали в прошлом;\
reviewer_score — оценка, которую рецензент поставил отелю на основе своего опыта;\
tags — теги, которые рецензент дал отелю;\
days_since_review — количество дней между датой проверки и датой очистки;\
lat — географическая широта отеля;\
lng — географическая долгота отеля.

In [100]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386803 entries, 0 to 386802
Data columns (total 17 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   hotel_address                               386803 non-null  object
 1   additional_number_of_scoring                386803 non-null  int64
 2   review_date                                 386803 non-null  object
 3   average_score                               386803 non-null  float64
 4   hotel_name                                  386803 non-null  object
 5   reviewer_nationality                        386803 non-null  object
 6   negative_review                             386803 non-null  object
 7   review_total_negative_word_counts           386803 non-null  int64
 8   total_number_of_reviews                     386803 non-null  int64
 9   positive_review                             386803 non-null  object
 10  review_total_positive_word_counts           386803 non-null  int64
 11  total_number_of_reviews_reviewer_has_given  386803 non-null  int64
 12  reviewer_score                              386803 non-null  float64
 13  tags                                        386803 non-null  object
 14  days_since_review                           386803 non-null  object
 15  lat                                         384355 non-null  float64
 16  lng                                         384355 non-null  float64
dtypes: float64(4), int64(5), object(8)
memory usage: 50.2+ MB

In [101]:
df['review_date'] = pd.to_datetime(df['review_date'])

In [102]:
def reformat_days_since_review(days_since_review):
    days_str = str(days_since_review)
    
    days = days_str.split()[0]
    
    return int(days)

In [103]:
df['days_since_review'] = df['days_since_review'].apply(reformat_days_since_review)

In [104]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386803 entries, 0 to 386802
Data columns (total 17 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   hotel_address                               386803 non-null  object
 1   additional_number_of_scoring                386803 non-null  int64
 2   review_date                                 386803 non-null  datetime64[ns]
 3   average_score                               386803 non-null  float64
 4   hotel_name                                  386803 non-null  object
 5   reviewer_nationality                        386803 non-null  object
 6   negative_review                             386803 non-null  object
 7   review_total_negative_word_counts           386803 non-null  int64
 8   total_number_of_reviews                     386803 non-null  int64
 9   positive_review                             386803 non-null  object
 10  review_total_positive_word_counts           386803 non-null  int64
 11  total_number_of_reviews_reviewer_has_given  386803 non-null  int64
 12  reviewer_score                              386803 non-null  float64
 13  tags                                        386803 non-null  object
 14  days_since_review                           386803 non-null  int64
 15  lat                                         384355 non-null  float64
 16  lng                                         384355 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(6), object(6)
memory usage: 50.2+ MB

In [105]:
cols_to_drop = ['review_date', 'hotel_address', 'hotel_name', 'reviewer_nationality', 'negative_review', 'positive_review', 'tags', 'lat', 'lng']

In [106]:
df.drop(cols_to_drop, axis=1, inplace=True)

In [107]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386803 entries, 0 to 386802
Data columns (total 8 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   additional_number_of_scoring                386803 non-null  int64
 1   average_score                               386803 non-null  float64
 2   review_total_negative_word_counts           386803 non-null  int64
 3   total_number_of_reviews                     386803 non-null  int64
 4   review_total_positive_word_counts           386803 non-null  int64
 5   total_number_of_reviews_reviewer_has_given  386803 non-null  int64
 6   reviewer_score                              386803 non-null  float64
 7   days_since_review                           386803 non-null  int64
dtypes: float64(2), int64(6)
memory usage: 23.6 MB

In [108]:
df.describe()

,additional_number_of_scoring,average_score,review_total_negative_word_counts,total_number_of_reviews,review_total_positive_word_counts,total_number_of_reviews_reviewer_has_given,reviewer_score,days_since_review
count,386803.00,386803.00,386803.00,386803.00,386803.00,386803.00,386803.00,386803.00
mean,498.25,8.40,18.54,2743.99,17.78,7.18,8.40,354.39
std,500.26,0.55,29.70,2316.46,21.73,11.05,1.64,208.98
min,1.00,5.20,0.00,43.00,0.00,1.00,2.50,0.00
25%,169.00,8.10,2.00,1161.00,5.00,1.00,7.50,175.00
50%,342.00,8.40,9.00,2134.00,11.00,3.00,8.80,353.00
75%,660.00,8.80,23.00,3613.00,22.00,8.00,9.60,527.00
max,2682.00,9.80,408.00,16670.00,395.00,355.00,10.00,730.00

In [109]:
df['lat'] = df['lat'].fillna(df['lat'].mode()[0])
df['lng'] = df['lng'].fillna(df['lng'].mode()[0])

KeyError: 'lat'

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386803 entries, 0 to 386802
Data columns (total 10 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   additional_number_of_scoring                386803 non-null  int64
 1   average_score                               386803 non-null  float64
 2   review_total_negative_word_counts           386803 non-null  int64
 3   total_number_of_reviews                     386803 non-null  int64
 4   review_total_positive_word_counts           386803 non-null  int64
 5   total_number_of_reviews_reviewer_has_given  386803 non-null  int64
 6   reviewer_score                              386803 non-null  float64
 7   days_since_review                           386803 non-null  int64
 8   lat                                         386803 non-null  float64
 9   lng                                         386803 non-null  float64
dtypes: float64(4), int64(6)
memory usage: 29.5 MB

In [ ]:
profile = ProfileReport(df, title='Hotels Profiling Report')
# profile

In [ ]:
# Разбиваем датафрейм на части, необходимые для обучения и тестирования модели  
# Х — данные с информацией об отелях, у — целевая переменная (рейтинги отелей)  
X = df.drop(['reviewer_score'], axis = 1)  
y = df['reviewer_score']  
      
# Загружаем специальный инструмент для разбивки:  
from sklearn.model_selection import train_test_split  

# Наборы данных с меткой "train" будут использоваться для обучения модели, "test" — для тестирования.  
# Для тестирования мы будем использовать 25 % от исходного датасета.  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [ ]:
# Импортируем необходимые библиотеки:  
from sklearn.ensemble import RandomForestRegressor # инструмент для создания и обучения модели  
from sklearn import metrics # инструменты для оценки точности модели  
      
# Создаём модель  
regr = RandomForestRegressor(n_estimators=100)  

# Обучаем модель на тестовом наборе данных  
regr.fit(X_train, y_train)  
      
# Используем обученную модель для предсказания рейтинга отелей в тестовой выборке.  
# Предсказанные значения записываем в переменную y_pred  
y_pred = regr.predict(X_test)

In [ ]:
# Сравниваем предсказанные значения (y_pred) с реальными (y_test) и смотрим, насколько они отличаются  
# Метрика называется Mean Absolute Percentage Error (MAPE) и показывает среднюю абсолютную процентную ошибку предсказанных значений в отношении фактических.  
print('MAPE:', metrics.mean_absolute_percentage_error(y_test, y_pred))

MAPE: 0.13793807091114493