In [2]:
import numpy as np
import pandas as pd

from sklearn.metrics import mean_absolute_percentage_error, mean_absolute_error, r2_score, mean_squared_error

In [8]:
df = pd.read_csv('SPY.csv', index_col='Date', parse_dates=True)

In [9]:
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,112.370003,113.389999,111.510002,113.330002,92.246048,118944600
2010-01-05,113.260002,113.680000,112.849998,113.629997,92.490204,111579900
2010-01-06,113.519997,113.989998,113.430000,113.709999,92.555328,116074400
2010-01-07,113.500000,114.330002,113.180000,114.190002,92.946060,131091100
2010-01-08,113.889999,114.620003,113.660004,114.570000,93.255348,126402800
...,...,...,...,...,...,...
2018-12-21,246.740005,249.710007,239.979996,240.699997,234.845886,255345600
2018-12-24,239.039993,240.839996,234.270004,234.339996,228.640564,147311600
2018-12-26,235.970001,246.179993,233.759995,246.179993,240.192596,218485400
2018-12-27,242.570007,248.289993,238.960007,248.070007,242.036667,186267300
2018-12-28,249.580002,251.399994,246.449997,247.750000,241.724442,153100200

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2263 entries, 2010-01-04 to 2018-12-28
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       2263 non-null   float64
 1   High       2263 non-null   float64
 2   Low        2263 non-null   float64
 3   Close      2263 non-null   float64
 4   Adj Close  2263 non-null   float64
 5   Volume     2263 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 123.8 KB

In [11]:
df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,2263.000000,2263.000000,2263.000000,2263.000000,2263.000000,2.263000e+03
mean,185.670013,186.539434,184.698630,185.686465,167.857557,1.332021e+08
std,51.939383,52.050626,51.784357,51.904678,55.222908,7.594594e+07
min,103.110001,103.419998,101.129997,102.199997,83.926636,2.785650e+07
25%,135.180000,135.805000,134.345001,135.360001,114.648251,8.072945e+07
50%,190.460007,191.830002,188.860001,190.350006,171.772522,1.146956e+08
75%,216.684998,217.195000,215.754997,216.644997,201.767876,1.625992e+08
max,293.089996,293.940002,291.809998,293.579987,283.493500,7.178287e+08

В качестве наивного прогноза используется закрытие предыдущего периода

In [13]:
df['Close_prediction'] = df['Close'].shift(1)

In [20]:
# Первое значение пустое, удаляю всю строку
df.dropna(inplace=True)

In [21]:
# Выделяю вектор правильных ответов и вектор наивного предсказагния
y_true = df['Close']
y_pred = df['Close_prediction']

## Metrics

### SSE сумма квадратов ошибок

In [23]:
(y_true - y_pred).dot(y_true - y_pred)

6330.3742894926045

### MSE средняя квадратичная ошибка

In [24]:
mean_squared_error(y_true, y_pred)

2.798573956451196

In [26]:
# расчет вручную
(y_true - y_pred).dot(y_true - y_pred) / len(y_true)

2.7985739564511958

### RMSE

In [27]:
mean_squared_error(y_true, y_pred, squared=False)

1.672893886787562

In [28]:
# расчет вручную
np.sqrt((y_true - y_pred).dot(y_true - y_pred) / len(y_true))

1.6728938867875618

### R^2 score. Инвариантная метрика.
Слишком высокое значение что бы быть правдой

In [29]:
r2_score(y_true, y_pred)

0.9989603259063914

### MAPE средняя абсолютная процентная ошибка. Инвариантная ошибка.

In [30]:
mean_absolute_percentage_error(y_true, y_pred)

0.006494073151422373

### sMAPE Симметричная средняя абсолютная процентная ошибка

In [33]:
def smape(y_true, y_pred):
    numerator = np.abs(y_true - y_pred)
    denominator = (np.abs(y_true) + np.abs(y_pred)) / 2
    ratio = numerator / denominator
    return ratio.mean()

In [34]:
smape(y_true, y_pred)

0.006491365814068417