In [29]:
'https://api.vk.com/method/users.get?user_id=1&v=5.95&fields=sex,bdate&access_token=TOKEN'

'https://api.vk.com/method/users.get?user_id=1&v=5.95&fields=sex,bdate&access_token=TOKEN'

In [24]:
import pandas as pd
import requests # Импортируем модуль requests
token = 'ed951c55ed951c55ed951c5540ede9058aeed95ed951c558fc7e63b5f7dcf1c5bb1a8b1' # Указываем свой сервисный токен
url = 'https://api.vk.com/method/users.get' # Указываем адрес страницы к которой делаем запрос
params = {'user_id': 1, 'v': 5.95, 'fields': 'sex, bdate', 'access_token': token, 'lang': 'ru'} # Перечисляем параметры нашего запроса в словаре params
response = requests.get(url, params=params) # Отправляем запрос
print(response.text) # Выводим текст ответа на экран

{"response":[{"id":1,"first_name":"Павел","last_name":"Дуров","can_access_closed":true,"is_closed":false,"sex":2,"bdate":"10.10.1984"}]}

In [25]:
from pprint import pprint # Импортируем функцию pprint()
pprint(response.json()) # Выводим содержимое словаря, содержащего ответ, на экран

{'response': [{'bdate': '10.10.1984',
               'can_access_closed': True,
               'first_name': 'Павел',
               'id': 1,
               'is_closed': False,
               'last_name': 'Дуров',
               'sex': 2}]}

In [26]:
json_resp = response.json()

In [27]:
user = json_resp['response'][0]
user['sex']

2

In [28]:
ids = ",".join(map(str, range(1, 4))) # Формируем строку, содержащую информацию о поле id первых трёх пользователей
params = {'user_ids': ids, 'v': 5.95, 'fields': 'bday', 'access_token': token, 'lang': 'ru'} # Формируем строку параметров
# Посылаем запрос, полученный ответ в формате JSON-строки преобразуем в словарь и выводим на экран его содержимое, используя функцию pprint()
pprint(requests.get(url, params=params).json())

{'response': [{'can_access_closed': True,
               'first_name': 'Павел',
               'id': 1,
               'is_closed': False,
               'last_name': 'Дуров'},
              {'can_access_closed': False,
               'first_name': 'Александра',
               'id': 2,
               'is_closed': True,
               'last_name': 'Владимирова'},
              {'deactivated': 'deleted',
               'first_name': 'DELETED',
               'id': 3,
               'last_name': ''}]}

In [ ]:
# Используя API, определите долю женщин (sex=1) среди пользователей с id от 1 до 500. 
# Иногда будут попадаться пользователи, у которых пол не указан (sex=0), — таких пользователей не нужно учитывать в общем числе.
# В ответе укажите число, округлив до двух знаков после точки-разделителя, например, 0.55.

In [42]:
ids = ",".join(map(str, range(1, 501)))
params = {'user_ids': ids, 'v': 5.95, 'fields': 'bday, sex', 'access_token': token, 'lang': 'ru'}
first500 = requests.get(url, params=params).json()['response']
first500

In [55]:
df = pd.DataFrame(first500)
df

,id,first_name,last_name,can_access_closed,is_closed,sex,deactivated
0,1,Павел,Дуров,True,False,2,NaN
1,2,Александра,Владимирова,False,True,1,NaN
2,3,DELETED,,NaN,NaN,0,deleted
3,4,DELETED,,NaN,NaN,0,deleted
4,5,Илья,Перекопский,True,False,2,NaN
...,...,...,...,...,...,...,...
495,496,Григорий,Малыгин,True,False,2,NaN
496,497,Светлана,Лапина,False,True,1,NaN
497,498,DELETED,,NaN,NaN,1,deleted
498,499,DELETED,,NaN,NaN,0,deleted
499,500,Анонимный пользователь,,True,False,2,NaN

In [56]:
# Оставляю лишь пользователей у которых указан пол
df_with_sex = df[df['sex'] != 0]

In [57]:
df_with_sex['sex'].value_counts(normalize=True)

2    0.514218
1    0.485782
Name: sex, dtype: float64

In [53]:
round(df_with_sex['sex'].value_counts(normalize=True)[1], 2)

0.49