In [1]:
import pandas as pd

"""
Объедините две таблицы по странам таким образом, чтобы в результат вошли данные только о тех странах, которые есть в обоих рейтингах. 
При этом в качестве суффиксов для столбца c числом медалей укажите строки "_bronze" и "_silver", чтобы столбцы можно было различать.
Результат занесите в переменную merged.
"""

In [5]:
bronze_path = 'data/bronze_top.csv'
silver_path = 'data/silver_top.csv'

In [8]:
bronze_df = pd.read_csv(bronze_path)
bronze_df

          Country   Total
0   United States  1052.0
1    Soviet Union   584.0
2  United Kingdom   505.0
3          France   475.0
4         Germany   454.0

In [9]:
silver_df = pd.read_csv(silver_path)
silver_df

          Country   Total
0   United States  1195.0
1    Soviet Union   627.0
2  United Kingdom   591.0
3          France   461.0
4           Italy   394.0

In [16]:
merged = bronze_df.merge(silver_df, how='inner', on='Country', suffixes=('_bronze', '_silver'))
merged

          Country  Total_bronze  Total_silver
0   United States        1052.0        1195.0
1    Soviet Union         584.0         627.0
2  United Kingdom         505.0         591.0
3          France         475.0         461.0