Компания по продаже бытовой техники представила новую версию сайта с рекомендациями товаров. Предполагается, что новый сайт будет стимулировать посетителей оставаться на нём в течение более длительного времени. Для проведения теста компания перенаправляет часть трафика на обновлённую версию сайта.

Каждая строка показывает время пребывания посетителей на сайте. Если посетитель пользовался исходным дизайном, то считается, что он относился к контрольной группе А; если обновлённым — к тестовой группе B.

Необходимо провести небольшое исследование и определить, повлияло ли внедрение рекомендательной системы на длительность сессии пользователей на сайте.

Вам предстоит произвести статический анализ результатов A/B-теста и проверить предложенную бизнес-гипотезу. Итак, приступим!

In [21]:
import pandas as pd

In [22]:
df = pd.read_csv('data/new-site.zip', sep='\t')
df

     site  dwell-time
0       0           2
1       1          48
2       0          15
3       1          16
4       0          38
..    ...         ...
295     0          22
296     0           7
297     1         144
298     0          89
299     0         138

[300 rows x 2 columns]

In [23]:
df['site'] = df['site'].apply(lambda x: 'A' if x == 0 else 'B')

Чему равно суммарное время пребывания на сайте в группах А и В? Ответ вводите без пробелов.

In [24]:
df.groupby('site').aggregate('sum')

      dwell-time
site
A          16898
B          10032

Чему равно среднее время пребывание на сайте в группах? Ответ округлите до целого числа.

In [25]:
df.groupby('site').aggregate('mean').round()

      dwell-time
site
A           91.0
B           88.0

In [26]:
from scipy.stats import shapiro

alpha = 0.05

def decision_normality(data, alpha):
    _, p = shapiro(data)
    
    print('p-value = {:.3f}'.format(p))
    if p <= alpha:
        print(f'p-значение меньше, чем заданный уровень значимости {alpha:.2f}.\nРаспределение отлично от нормального.')
    else:
        print(f'p-значение больше, чем заданный уровень значимости {alpha:.2f}.\nРаспределение является нормальным.')
    print()

In [27]:
group_a = df[df['site'] == 'A']['dwell-time']
group_b = df[df['site'] == 'B']['dwell-time']

In [28]:
# проводим тест Шапиро-Уилка
print('Группа А, старый сайт:')
decision_normality(group_a, alpha)

print('Группа B, новый сайт:')
decision_normality(group_b, alpha)

Группа А, старый сайт:
p-value = 0.000
p-значение меньше, чем заданный уровень значимости 0.05.
Распределение отлично от нормального.

Группа B, новый сайт:
p-value = 0.000
p-значение меньше, чем заданный уровень значимости 0.05.
Распределение отлично от нормального.

Проведите статистическое тестирование с помощью теста, выбранного в предыдущем задании, при следующих нулевой и альтернативной гипотезах:

Нулевая гипотеза: время пребывания пользователей на сайте в группах А и B одинаково.

Альтернативная гипотеза: время пребывания пользователей на сайте в группах А и B различно.

Вычислите p-value для времени пребывания на сайте в группах А и B. Сравните полученное значение с уровнем значимости.

In [29]:
alpha = 0.05
H0 = 'Время пребывания пользователей на сайте в группах А и B одинаково.'
Ha = 'Время пребывания пользователей на сайте в группах А и B различно.'

In [30]:
def decision_hypothesis(p, alpha, H0='', Ha=''):
    print('p-value = {:.3f}'.format(p))
    if p <= alpha:
        print(f'p-значение меньше, чем заданный уровень значимости {alpha:.2f}. Отвергаем нулевую гипотезу в пользу альтернативной.\n{Ha}')
    else:
        print(f'p-значение больше, чем заданный уровень значимости {alpha:.2f}. У нас нет оснований отвергнуть нулевую гипотезу.\n{H0}')
    print()

In [31]:
import scipy.stats as stats

_, p = stats.mannwhitneyu(group_a, group_b)
decision_hypothesis(p, alpha, H0, Ha)

p-value = 0.896
p-значение больше, чем заданный уровень значимости 0.05. У нас нет оснований отвергнуть нулевую гипотезу.
Время пребывания пользователей на сайте в группах А и B одинаково.