Представьте, что вас срочно вызвали на новый проект, так что теперь вы — дата-сайентист в туристической фирме.

Компания планирует запустить новую акцию, чтобы продать как можно больше туров. 

Команда разработала два варианта посадочной страницы официального сайта компании и провела A/B-тестирование. 

В результате проведения эксперимента собраны данные, которые можно скачать ниже.

Вам предстоит решить настоящую бизнес-задачу:

проанализировать эффективность обоих вариантов посадочной страницы сразу по двум критериям:

конверсии покупки и среднему чеку. 


На основе проведённого анализа необходимо сделать выводы и принять решение: 

какой из вариантов дизайна более предпочтительный.

Итак, наша фирма предлагает следующие варианты туров и их соответствующие стоимости:

Таиланд — 100 000 рублей;

Турция — 60 000 рублей;

Мальдивы — 200 000 рублей;

Санкт-Петербург — 10 000 рублей;

Камчатка — 150 000 рублей.

In [2]:

# для автозагрузки изменений в модулях без необходимости перезагрузки kelner
%load_ext autoreload
%autoreload 2


# необходимо для корректного импорта своих модулей в JupyterLab
import sys
current_dir = sys.path[0]
project_dir = 'SF_DS_Pro'
last_position = current_dir.find(project_dir) + len(project_dir)
project_path = current_dir[:last_position]
sys.path.append(project_path)


%matplotlib inline
import matplotlib.pyplot as plt # библиотека визуализации
import seaborn as sns
# sns.set_style('whitegrid')
plt.style.use('ggplot')
sns.set(rc={'figure.figsize':(10, 8)})


import warnings
warnings.filterwarnings('ignore')


from IPython.core.display import HTML
HTML("""
<style>
.p-Widget.jp-OutputPrompt.jp-OutputArea-prompt:empty {
  padding: 0;
  border: 0;
}
</style>
""")

In [3]:
import pandas as pd

In [4]:
data = pd.read_csv('data/ab_data_tourist.zip')
data.head()

   user_id        date group  purchase   price
0   851104  2021-01-21     A         0       0
1   804228  2021-01-12     A         0       0
2   661590  2021-01-11     B         0       0
3   853541  2021-01-08     B         0       0
4   864975  2021-01-21     A         1  150000

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294478 entries, 0 to 294477
Data columns (total 5 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   user_id   294478 non-null  int64
 1   date      294478 non-null  object
 2   group     294478 non-null  object
 3   purchase  294478 non-null  int64
 4   price     294478 non-null  int64
dtypes: int64(3), object(2)
memory usage: 11.2+ MB

In [6]:
data['date'] = pd.to_datetime(data['date'])
data = data.convert_dtypes()